@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    transition: 0.3s all;
}
button {
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: hsl(216, 12%, 8%);
}
section {
    width: clamp(201px, 331px, 461px);
    height: 53%;
    display: flex;
    flex-direction: column;
    background-color: #171E28;
    padding: 2rem 1.75rem;
    border-radius: 25px;
}
#section-1 {
    display: flex;
}
#section-2 {
    display: none;
    text-align: center;
    align-items: center;
}
#section-2 img {
    width: 45%;
    height: 30%;
}
span {
    margin-top: 1.75rem;
    font-size: 0.8rem;
    border-radius: 30px;
    color: hsl(25, 97%, 53%);
    padding: 0.25rem 1rem;
    background-color: hsl(213, 19%, 18%);
}
h2 {
    color: #fff;
    margin-top: 1.25rem;
}
p {
    font-size: 0.85rem;
    margin-top: 0.5rem;
    line-height: 1.25rem;
    color: hsl(216, 12%, 54%);
}
.image {
    width: 100%;
    height: 14%;
    display: flex;
}
.image img {
    padding: 0.75rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 19%, 18%);
}
.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
}
.buttons {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.rating-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}
.rating-buttons button {
    padding: 0.80rem 1.05rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15%;
    height: 80%;
    margin-top: 3rem;
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    z-index: 4;
}
.rating-buttons button:hover {
    background-color: hsl(217, 12%, 63%);
    color: #fff;
}
.sumbit-button {
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sumbit-button button {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-top: 7rem;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    letter-spacing: 2px;
}
.sumbit-button button:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}
